:root {
  --primary-red: hsl(0, 100%, 68%);
  --neutral-very-dark-blue: hsl(230, 29%, 20%);
  --neutral-dark-grayish-blue: hsl(230, 11%, 40%);
  --neutral-grayish-blue: hsl(231, 7%, 65%);
  --neutral-light-grayish-blue: hsl(207, 33%, 95%);
  --headings-font: "Barlow Condensed", sans-serif;
  --body-font: "Barlow", sans-serif;
  --schedule-btn-hover: hsl(0, 100%, 75%);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: var(--body-font);
}

body {
  overflow: hidden;
}

.home_container {
  width: 100vw;
  height: 100vh;
}

.floating_element_bg {
  width: 100vw;
  height: 100vh;
  background-color: var(--neutral-light-grayish-blue);
  border-radius: 50px;
  position: fixed;
  top: -50%;
  right: -50%;
  z-index: -2;
}

.inner_home_container {
  margin: auto;
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2.5rem;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

nav hr {
  display: none;
}

.navbar_btn {
  display: none;
}

.nav_links {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav_links p {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: var(--headings-font);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.dark_links {
  color: var(--neutral-very-dark-blue);
}

.fa-circle {
  font-size: 0.4rem;
  margin-top: 2.3px;
}

.gray_links {
  color: var(--neutral-grayish-blue);
}

.dark_links:hover,
.login_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home_content {
  flex: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.left_content {
  flex: 50;
}

.first_p_content {
  text-transform: uppercase;
  font-family: var(--headings-font);
  letter-spacing: 5px;
  color: var(--neutral-grayish-blue);
  margin-bottom: 0.8rem;
}

.first_p_content a {
  background-color: var(--neutral-very-dark-blue);
  color: #fff;
  letter-spacing: 0px;
  font-family: var(--headings-font);
  padding: 2px 12px;
  border-radius: 50px;
  margin-right: 5px;
}

.left_content h1 {
  font-size: 4rem;
  font-family: var(--headings-font);
  text-transform: uppercase;
  color: var(--neutral-very-dark-blue);
  margin-bottom: 1rem;
}

.second_p_content {
  color: var(--neutral-dark-grayish-blue);
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.schedule_btn {
  padding: 0.8rem 2.2rem;
  border: none;
  text-transform: uppercase;
  font-family: var(--headings-font);
  letter-spacing: 2px;
  font-weight: 700;
  background-color: var(--primary-red);
  color: #fff;
  border-radius: 8px;
  margin-right: 1.2rem;
}

.schedule_btn:hover {
  cursor: pointer;
  background-color: var(--schedule-btn-hover);
}

.inner_left_content {
  display: flex;
  align-items: center;
}

.third_p_content {
  text-transform: uppercase;
  color: var(--neutral-grayish-blue);
  letter-spacing: 3px;
  font-family: var(--headings-font);
}

.right_content {
  flex: 50;
  height: 100%;
  position: relative;
  text-align: center;
}

.right_content img {
  width: 170%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0%;
}

/* FOOTER */
.attribution {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  background-color: var(--primary-red);
  color: #fff;
  padding: 0.2rem;
}
.attribution a {
  font-size: 0.7rem;
  color: #fff;
}

/* ------------------------------------------------------------- */
